ultralytics
sqlalchemy
asyncpg
psycopg2-binary
alembic
greenlet
pydantic
pydantic-settings
python-dotenv
torch
redis
torchvision
pathway
matplotlib
ultralytics
opencv-python-headless
numpy
httpx
requests
pyyaml
python-multipart
python-jose[cryptography]
passlib[bcrypt]
orjson
pathway==0.29.0
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
jspdf
